doctype html
html
	head
		//- link(rel="icon", href="/public/favicon.ico", type="image/x-icon")
		//- link(rel="shortcut icon", href="/public/favicon.ico", type="image/x-icon")
		title= _title_
		script(src='/libs/jquery/dist/jquery.min.js')
		script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
		script(src='/libs/toastr/build/toastr.min.js')
		link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/libs/toastr/build/toastr.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content